// conf/modules.config
// This file is used to configure nf-core modules
// See: https://nf-co.re/docs/contributing/modules#modulesconf

// Define where to find the nf-core modules
modules {
    // Remote modules from nf-core/modules
    nfcore_modules {
        // You can specify a Git repository and a branch/tag
        repo = 'nf-core/modules'
        branch = 'master' // or a specific tag for reproducibility
        dir = 'modules/nf-core'
    }
}
