// conf/test.config
// A configuration file for running tests

params {
    // Point to the test samplesheet
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/test_data/samplesheet/somatic_wgs_paired_end_umi.csv'

    // Use a small reference genome for testing
    // This uses the AWS iGenomes reference for GRCh38
    genome = 'GATK.GRCh38'
    genomes_base = 's3://ngi-igenomes/igenomes'
    
    // Define a small output directory for test results
    outdir = './test_results'

    // Limit resources for test runs
    max_cpus = 2
    max_memory = '6.GB'
    max_time = '4.h'
}
